@import "../../bower_components/roboto-fontface/css/roboto-fontface.css";
$font:'Roboto', sans-serif;
$font-colour: #777;
body{
   font-family: $font;
}

.toolbar{
   position: absolute;
   top: 0px;
   left: 0px;
   h1{
      // color: $font-colour !important;
   }
}
#app-bar-margin{
   margin-bottom: 85px;
}
